body {

}

a {
  color: black;
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 20px;
}

ol {
  width: 100px;
  margin: 0;
  padding: 20px;
}

.saw {
  color: gray;
}
#bgImage{
  background-image: url("coding1.jpg");
  background-position: center;
  background-size: cover;
}
#active {
  font-weight: bold;
}

#grid {
  display: grid;
  background-color: white;
  color: black;
  border: 2px solid gray;
  grid-template-columns: 150px 1fr;
}

#grid #ol {
  padding-left: 20px;
}

#grid #article {
  border-left: 2px solid gray;
  padding-left: 25px;
}

@media(max-width:483px) {
  #grid {
    display: block;
  }
  #grid #article {
    border-left: none;
    border-top: 2px solid gray;
  }
}
